<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>API Artichop</title>

</head>

<body>    
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">A(PI)rtishop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#user">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#categorie">Categorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sale">Sale</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>
    <div class="container" id="home">
        <div class="row">
            <h1>Home</h1>
        </div>

    </div>
    <div class="container" id="user">
        <div class="row">
            <h1>User</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Method</th>
                        <th scope="col">URL</th>
                        <th scope="col">Data</th>
                        <th scope="col">Return</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Add user</th>
                        <td>quidam</td>
                        <td>PUT</td>
                        <td>domain/user/</td>
                        <td>JSON : {
                            <ul>
                                <li>pseudo</li>
                                <li>firstname</li>
                                <li>lastname</li>
                                <li>password</li>
                                <li>address</li>
                                <li>number</li>
                                <li>zip_code</li>
                                <li>city</li>
                                <li>country</li>
                                <li>email</li>
                                <li>phone</li>
                                <li>description</li>
                            </ul>
                        }
                        </td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th >Log in</th>
                        <td>quidam</td>
                        <td>POST</td>
                        <td>domain/user/login</td>
                        <td>JSON : {
                            <ul>
                                <li>pseudo</li>
                                <li>password</li>
                            </ul>
                        }
                        </td>
                        <td>JSON : {
                            <ul>
                                <li>pseudo</li>
                                <li>firstname</li>
                                <li>lastname</li>
                                <li>password</li>
                                <li>address</li>
                                <li>number</li>
                                <li>zip_code</li>
                                <li>city</li>
                                <li>country</li>
                                <li>email</li>
                                <li>phone</li>
                                <li>description</li>
                            </ul>
                        }
                        </td>
                    </tr>
                    <tr>
                        <th >Update user</th>
                        <td>connected</td>
                        <td>POST</td>
                        <td>domain/user/update/</td>
                        <td>JSON : {
                            <ul>
                                <li>pseudo</li>
                                <li>firstname</li>
                                <li>lastname</li>
                                <li>password</li>
                                <li>address</li>
                                <li>number</li>
                                <li>zip_code</li>
                                <li>city</li>
                                <li>country</li>
                                <li>email</li>
                                <li>phone</li>
                                <li>description</li>
                                <li>id_user</li>
                            </ul>
                        }
                        </td>
                        <td>-</td>
                        </tr>
                    <tr>
                        <th >Get all users</th>
                        <td>connected</td>
                        <td>GET</td>
                        <td>domain/user/all</td>
                        <td>-</td>
                        <td>JSON : {
                            <ul>
                                <li>pseudo</li>
                                <li>firstname</li>
                                <li>lastname</li>
                                <li>password</li>
                                <li>address</li>
                                <li>number</li>
                                <li>zip_code</li>
                                <li>city</li>
                                <li>country</li>
                                <li>email</li>
                                <li>phone</li>
                                <li>description</li>
                            </ul>
                        }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="product">
        <div class="row">
            <h1>Product</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Method</th>
                        <th scope="col">URL</th>
                        <th scope="col">Data</th>
                        <th scope="col">Return</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Get all products</th>
                        <td>quidam</td>
                        <td>GET</td>
                        <td>domain/article/</td>
                        <td>-</td>
                        <td>JSON : {
                            product*{
                            <ul>
                                <li>id_seller</li>
                                <li>id_category</li>
                                <li>name</li>
                                <li>description</li>
                                <li>state</li>
                                <li>price</li>
                            </ul>
                        }
                        }
                        </td>
                        
                    </tr>
                    <tr>
                        <th >Get a single product</th>
                            <td>quidam</td>
                            <td>GET</td>
                            <td>domain/article/single</td>
                            <td>JSON : {
                                <ul>
                                    <li>id_product</li>
                                </ul>
                            }
                            </td>
                            <td>JSON : {
                                <ul>
                                    <li>id_seller</li>
                                    <li>id_category</li>
                                    <li>name</li>
                                    <li>description</li>
                                    <li>state</li>
                                    <li>price</li>
                                </ul>
                            }
                            </td>
                        </tr>
                        <tr>
                            <th >Get all product for a category</th>
                            <td>quidam</td>
                            <td>GET</td>
                            <td>domain/article/category</td>
                            <td>JSON : {
                                <ul>
                                    <li>id_category</li>
                                </ul>
                            }
                            </td>
                            <td>JSON : {
                                <ul>
                                    <li>id_seller</li>
                                    <li>id_category</li>
                                    <li>name</li>
                                    <li>description</li>
                                    <li>state</li>
                                    <li>price</li>
                                </ul>
                            }
                            </td>
                    </tr>
                    <tr>
                        <th >Get all my products</th>
                        <td>connected</td>
                        <td>GET</td>
                        <td>domain/article/myProducts</td>
                        <td>-</td>
                        <td>JSON :[ {
                            <ul>
                                <li>id_seller</li>
                                <li>id_category</li>
                                <li>name</li>
                                <li>description</li>
                                <li>state</li>
                                <li>price</li>
                            </ul>
                        },...]
                        </td>
                    </tr>
                    <tr>
                        <th >Add product</th>
                        <td>connected</td>
                        <td>PUT</td>
                        <td>domain/article/</td>
                        <td>JSON : {
                            <ul>
                                <li>id_category</li>
                                <li>name</li>
                                <li>description</li>
                                <li>state</li>
                                <li>price</li>
                            </ul>
                        }
                        </td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th >Update product</th>
                        <td>connected</td>
                        <td>POST</td>
                        <td>domain/article/update/</td>
                        <td>JSON : {
                            <ul>
                                <li>id_seller</li>
                                <li>id_category</li>
                                <li>name</li>
                                <li>description</li>
                                <li>state</li>
                                <li>price</li>
                                <li>id_product</li>
                            </ul>
                        }
                        </td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="categorie">
        <div class="row">
            <h1>Categorie</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Method</th>
                        <th scope="col">URL</th>
                        <th scope="col">Data</th>
                        <th scope="col">Return</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Get all categories</th>
                        <td>quidam</td>
                        <td>GET</td>
                        <td>domain/category/</td>
                        <td>-</td>
                        <td>JSON : {
                            category*{
                            <ul>
                                <li>id_category</li>
                                <li>name</li>
                            </ul>
                        }
                        }
                        </td>
                        
                    </tr>
                    <tr>
                        <th >Add a new category</th>
                        <td>connected</td>
                        <td>-</td>
                        <td>domain/category/:name</td>
                        <td>replace the ":name" into the domain with your new category name</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th >Get all product for a category</th>
                        <td>quidam</td>
                        <td>GET</td>
                        <td>domain/article/</td>
                        <td>JSON : {
                            <ul>
                                <li>id_category</li>
                            </ul>
                        }
                        </td>
                        <td>JSON : {
                            <ul>
                                <li>id_seller</li>
                                <li>id_category</li>
                                <li>name</li>
                                <li>description</li>
                                <li>state</li>
                                <li>price</li>
                            </ul>
                        }
                        </td>
                    </tr>
                    <tr>
                        <th >Update category name</th>
                        <td>connected</td>
                        <td>-</td>
                        <td>domain/category/:id/:newName</td>
                        <td>Into the url, replace ":id" whith the category's id and the "newName" whith the new name</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="sale">
        <div class="row">
            <h1>Sale</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Method</th>
                        <th scope="col">URL</th>
                        <th scope="col">Data</th>
                        <th scope="col">Return</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Get all sales</th>
                        <td>connected</td>
                        <td>GET</td>
                        <td>domain/sale/</td>
                        <td>-</td>
                        <td>JSON : {
                            sale*{
                            <ul>
                                <li>id_product</li>
                                <li>id_stripe</li>
                            </ul>
                        }
                        }
                        </td>
                        
                    </tr>
                    <tr>
                        <th >Add a new sale</th>
                        <td>connected</td>
                        <td>PUT</td>
                        <td>domain/sale/</td>
                        <td>JSON : {
                                <ul>
                                    <li>id_product</li>
                                    <li>id_buyer</li>
                                    <li>id_stripe</li>
                                </ul>
                            }
                        </td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>